/* images模块 */
#container .images{
	position: relative;
	overflow: hidden;
}

#container .images .imgsWrap{
	position: relative;
	overflow: hidden;
	width: 900px;
	height: 130px;
}
/*list*/
#container .images .latestImgs{
	position: absolute;
	width: 2500px;
	transition: all 1s ease 0s;
	left: 0;
}
#container .images .latestImgs li{
	float: left;
	margin-right: 20px;
}

/*滚动按钮*/
#container .images .scrollBtn{
	position: absolute;
	right: 0;
	width: 48px;
	height: 20px;
}
#container .images .scrollBtn span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../../imgs/banner/arrows.png) no-repeat;
	background-size: 40px;
	cursor: pointer;
}
#container .images .scrollBtn .prev{
	background-position: top left;
}
#container .images .scrollBtn .prev:hover{
	background-position: 0 -20px;
}
#container .images .scrollBtn .next{
	background-position: top right;
	margin-left: 5px;
}
#container .images .scrollBtn .next:hover{
	background-position: -20px -20px;
}
